/* CSS styles */
h1 {
font-family: Impact, sans-serif;
color: #CE5937;
background-color:white;
border:5px solid #CE5937;
border-radius:10px;
padding:1%;
width:68%;

}
img{
width:70%;
border:5px solid #CE5937;
border-radius:10px

}
body{
background-image: url(https://i.imgur.com/1TZjxv6.png);

}

p{
width:68%;
font-family: Impact, sans-serif;
font-size:17px;
color: #CE5937;
background-color:white;
border:5px solid #CE5937;
border-radius:10px;
padding:1%;

}
span{
font-size:19px;
color:darkred;
}
.iksweb{
display:inline-block;
cursor: pointer;
font-size:19px;
text-decoration:none;
margin-top: 10px;
padding:10px 16px;
color: #CE5937;
background-color:white;
border-radius:12px;
border:4px solid #424242;}

.iksweb:hover{
background:white;
color:rgb(21,13,36);
border:4px solid rgb(21,13,36);
transition: all 0.2s ease;
padding:15px 20px;
font-size:20px;
}
 
.top_panel{

display:block;
border:4px solid #424242;
background-color:white;
border-radius:12px;
position: sticky;
padding:2% 2%;
font-family: Impact, sans-serif;
width:67%;
}
p:hover{
background:white;
border:4px solid ;
transition: all 0.2s ease;
padding:15px 20px;
font-size:20px;
}

img:hover{
border:4px solid #CE5937;
transition: all 0.2s ease;
width:75%;
}
